body {
    background: #fff;
    color:#222;
    padding:0;
    margin:0;
    font-family:"Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-weight:400;
    font-style:normal;
    line-height:150%;
    position:relative;
    cursor:default
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    float: right;
}

h2 {
  color: #fff;
  float: left;
  margin: 0 0 20px 0;
}

/* Site header */

#navcontainer {
    display: block;
    font-family: "Arial", serif;
    font-size: 12px;
    color: #959595;
    letter-spacing: 1px;
}

.site-header {
    margin-bottom: 10px;
    display: block;
}

#inner-header {
    border-bottom: 1px #cccccc solid;
    padding-bottom: 20px;
}

.wrap {
    max-width: 1000px;
    min-width: 1000px;
    padding: 0 5px;
    width: 96%;
    margin: 0 auto;
}

.clearfix {
    zoom: 1;
}

#navlist li
{
display: inline;
list-style-type: none;
padding: 8px;
}

#navlist > li > a {
    padding: 3px 8px;
}

#navlist > li > a:hover {
    color: black;
}


/* Site footer */
.col {
  background: #333333;
  float: left;
  padding: 30px 0 0 35px;
  width: 100%;
}

