<footer>
  <nav>
  	<div class="text-transform">
	    <a href="http://instagram.com/roseandtheo"><img src="img/instagram.png" alt=""></a>   
	    <a href="http://www.pinterest.com/roseandtheoshop/"><img src="img/pinterest.png" alt=""></a>
  	</div> 
  </nav>
</footer>



<!-- <ul id="demo-nav">
      <li><a href="">Back to Post</a></li>
      <li class="current"><a href="footer-only.html">Footer Only</a></li>
      <li><a href="footer-adapt.html">Footer Variation</a></li>
      <li><a href="footer-anchor.html">Footer Anchor</a></li>
    </ul> -->