<!-- Header logo -->
<header>
	<h1 class="logo">
	    <a href="/"><img src="img/logo.jpg" width="200" height="78" alt=""></a>
	</h1>

<!-- Header navigation -->
<div class="menu-bar">	
	<ul>
		<li><a href="http://www.roseandtheo.etsy.com/" class="shop">Shop</a>
			<div class="nav-sep">|</div></li>			
		<li><a href="/about.html" class="about">About</a>
			<div class="nav-sep">|</div></li>
		<li><a href="contact.html" class="contact">Contact</a>
			<div class="nav-sep">|</div></li>
		<li><a href="faq.html" class="faq">FAQ</a></li>
	</ul>
</div>

</header>


