<header>
  <h1 class="logo" onclick="document.location.href='/';">
    <a href="/"><img src="/img/banner.jpg" width="330" height="50" alt="banner"></a>
  </h1>

<aside class ="widget-area header-widget-area">
  <section id="nav_menu-2" class="widget widget_nav_menu">
    <div class="widget-wrap">
      <nav class="nav-header" role="navigation" itemscope="itemscope">
        <div id="responsive-menu-icon"></div>
        <ul id="menu-main" class="menu nav-menu responsive-menu">
          <li><a href="/about/" title="About">About</a></li>
          <li><a href="/contact/" title="Contact">Contact</a></li>
          <li><a href="/custom/" title="Custom">Custom</a></li>
          <li><a href="/faq/" title="FAQ">FAQ</a></li>
        </ul>
      </nav>
    </div>
  </section>
</aside>


</aside>