<!-- Site header and navigation -->
    <header class="site-header">
        <div class="container">
            <a href="#" class="navbar-brand pull-right"></a>
<!-- navbar-toggle will show when the website is viewed on a mobile device or through a small browser window. This button will allow the user to toggle the menu open and closed, saving space. To provide this functionality the data attributes. data-toggle=”collapse” data-target=”.navbar-collapse” are added to allow bootstraps JavaScript to hide or show the target element.  -->
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="glyphicon glyphicon-align-justify"></span>
            </button>
            <nav class="navbar-collapse collapse" role="navigation">
                <ul class="navbar-nav nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </nav>
        </div>
    </header>